In [1]:
import pandas as pd
import numpy as np

## Data Cleaning and Transformation

In [2]:
yale_climate = pd.read_csv('data/yale_climate.csv')
yale_climate.head()

,geotype,geoid,geoname,varname,x2010,x2011,x2012,x2013,x2014,x2015,x2016,x2017,x2018,x2019,x2020,x2021,x2022,x2023
0,state,1,Alabama,affectweather,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.66,49.22,53.33,53.64,49.63,50.28
1,state,2,Alaska,affectweather,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.48,54.94,60.92,62.25,59.17,60.66
2,state,4,Arizona,affectweather,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.32,58.40,63.55,64.22,61.73,63.12
3,state,5,Arkansas,affectweather,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.17,50.78,55.72,55.89,51.26,52.43
4,state,6,California,affectweather,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.21,64.51,69.28,70.14,67.47,68.39

In [6]:
yale_climate = yale_climate[yale_climate['geotype'] == 'state']
yale_climate['geoname'].value_counts()

Alabama                 73
Pennsylvania            73
Nevada                  73
New Hampshire           73
New Jersey              73
New Mexico              73
New York                73
North Carolina          73
North Dakota            73
Ohio                    73
Oklahoma                73
Oregon                  73
Rhode Island            73
Montana                 73
South Carolina          73
South Dakota            73
Tennessee               73
Texas                   73
Utah                    73
Vermont                 73
Virginia                73
Washington              73
West Virginia           73
Wisconsin               73
Nebraska                73
Missouri                73
Alaska                  73
Idaho                   73
Arizona                 73
Arkansas                73
California              73
Colorado                73
Connecticut             73
Delaware                73
District of Columbia    73
Florida                 73
Georgia                 73
Hawaii                  73
Illinois                73
Mississippi             73
Indiana                 73
Iowa                    73
Kansas                  73
Kentucky                73
Louisiana               73
Maine                   73
Maryland                73
Massachusetts           73
Michigan                73
Minnesota               73
Wyoming                 73
Name: geoname, dtype: int64

In [4]:
hurricane = pd.read_csv('data/hurricane.csv')
hurricane

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_LOCATION,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,480018,GUAM (ZONE),,10/16/2013,200,Hurricane (Typhoon),,,0,0,...,,10/19/2013,1500,,,,,On the afternoon of the 14th of October a weak...,On the afternoon of the 14th of October a weak...,1
1,486009,MICRONESIA (ZONE),,11/03/2013,1900,Hurricane (Typhoon),,,0,0,...,,11/07/2013,1900,,,,,On the afternoon of November 1st scatterometer...,Haiyan crossed Micronesia from November 3rd to...,2
2,536943,EASTERN HYDE (ZONE),,07/03/2014,1200,Hurricane (Typhoon),,,0,0,...,,07/04/2014,1200,,,,,Hurricane Arthur produced hurricane force wind...,Hurricane Arthur is the earliest hurricane to ...,3
3,536939,EASTERN DARE (ZONE),,07/03/2014,1200,Hurricane (Typhoon),,,0,0,...,,07/04/2014,1200,,,,,Hurricane force wind gusts ranged from 69 to 9...,Hurricane Arthur is the earliest hurricane to ...,4
4,536929,CARTERET (ZONE),,07/03/2014,1200,Hurricane (Typhoon),,,0,0,...,,07/04/2014,1200,,,,,Hurricane Arthur produced sustained hurricane ...,Hurricane Arthur is the earliest hurricane to ...,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,1131871,LOWNDES (ZONE),,08/30/2023,1000,Hurricane,,,1,7,...,,08/30/2023,1200,,,,,"There were 1,127 homes damaged, with 684 being...",Hurricane Idalia made landfall on the morning ...,307
307,1131872,LANIER (ZONE),,08/30/2023,1000,Hurricane,,,0,0,...,,08/30/2023,1200,,,,,"Approximately 1333 residents, or 76% lost powe...",Hurricane Idalia made landfall on the morning ...,308
308,1131870,BROOKS (ZONE),,08/30/2023,1000,Hurricane,,,0,0,...,,08/30/2023,1200,,,,,"Approximately 863 residents, or 92% lost power...",Hurricane Idalia made landfall on the morning ...,309
309,1144543,ROTA (ZONE),,10/10/2023,1300,Hurricane,,,0,0,...,,10/11/2023,300,,,,,Bolaven went through the Marianas On Oct 10th ...,Super Typhoon Bolaven formed in northern Chuuk...,310
310,1144291,SAIPAN (ZONE),,10/10/2023,1300,Hurricane,,,0,0,...,,10/11/2023,800,,,,,Bolaven went through the Marianas On Oct 10th ...,Super Typhoon Bolaven formed in northern Chuuk...,311

In [ ]:
#TODO identify questions, create a dataset for each one

## EDA

## Analysis